{% extends 'AppCoder/base.html' %}


{% block contenido %}
<header class="masthead">
    <h1 align= "center" >Productos </h1>
     <!-- Section-->
     <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                     <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://i.pinimg.com/564x/0e/14/eb/0e14eb045840c31585c1a9afbca100df.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">vela de vainilla</h5>
                                <!-- Product price-->
                                $2000
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://i.pinimg.com/564x/8e/3e/76/8e3e76b73379d0ebe528adaed992421e.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">vela de lavanda</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">1800</span>
                                $1750
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://i.pinimg.com/564x/11/67/82/116782e86136bdbed48005317423e82d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">vela de coco y vainilla </h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">2000</span>
                                $1600
                            </div>
                        </div>
                        
                    </div>
                </div>

        </div>
    </section>
{% endblock contenido %}
